footer
  .anuncios-taringa
    ul
      li 
        a(href="#") Anuncie en Taringa!
        |
      li 
        a(href="#") Ayuda
        |
      li 
        a(href="#") Reglas de la Comunidad
      li 
        a(href="#") Desarrolladores
        |
      li 
        a(href="#") Denuncias
        |
      li 
        a(href="#") Reportar Abuso - DMCA
      li 
        a(href="#") Términos y Condiciones
        |
      li 
        a(href="#") Privacidad de datos
      li 
        a(href="#") Reportar bug
        |
      li 
        a(href="#") Volver a la versión anterior
    p.subir
      a(href="#") 
        span Subir
    p.hosted 
      a(href="http://www.wiroos.com/")
        Alojado en
        strong Wiroos