aside.sidebar
  img(src="media/upload/banner.jpg", alt="Banner")
  include sidebar-content
  .anuncios
    h2 Anuncios Zeti
    ul
      li
        a(href="#") 
          img(src="media/upload/anuncios1.jpg", alt="")
        div.infos
          h3 
            a(href="#") Aloja tu página web en Wiroos 
          p.web 
            a(href="#") www.wiroos.com  
          p.data Atención personalizada, precio y calidad. Conoce nuestro planes. 
      li
        a(href="#")
          img(src="media/upload/anuncios2.jpg", alt="")
        div.infos    
          h3 
            a(href="#") ¿Te gustaría escuchar Jazz?
          p.web
            a(href="#") www.taringa.net/musica  
          p.data Atención personalizada, precio y calidad. Conoce nuestro planes.   
      li
        a(href="#")
          img(src="media/upload/anuncios3.jpg", alt="")
        div.infos
          h3 
            a(href="#") Valor Dólar Blue en VIVO
          p.web
            a(href="#") www.valordolarblue.com.ar 
          p.data Actualización en Vivo de la cotización del Dólar Blue en Argentina.
  include foot
