.estadisticas
  h2 Estadísticas
  .slide-panel
    .info1
      p 
        span.num 24.028.040
        span.txt Usuarios Registrados
    .info2
      p 
        span.num 276.095
        span.txt Personas conectadas
    .desplegable
      .col
        p 
          span.num 16.676.481
          span.txt Posts
        p 
          span.num 92.376
          span.txt Comunidades 
      .col.last
        p 
          span.num 117.541.915
          span.txt Comentarios en Posts
        p 
          span.num 8.311.318
          span.txt Temas en comunidades
      a.mas(href="#") Más
  span.bt-slide abrir
.taringa-musica 
  a.mas(href="#") Más Música
  h2 Taringa! Música  
  ul
    li
      img(src="media/upload/musica.jpg", alt="")
      h3 In da House
      h4 
        a(href="#") Nombre Banda
      a(href="#").play Play
        span
    li
      img(src="media/upload/musica.jpg", alt="")
      h3 In da House
      h4 
        a(href="#") Nombre Banda
      a(href="#").play Play
        span
.shouts
  .actions.action-select
    span.active Populares
    ol
      li: a(href="#") Destacados
      li: a(href="#") Populares
      li: a(href="#") Públicos
  h2 Shouts    
  ul
    li
      span.tw 
        a(href="#").usuario 
          span kuruzka 
        | compartió vía 
        a(href="#").usuario 
          span Otty_Guitarras
        a(href="#").video
          img(src="media/upload/video1.jpg", alt="")
      a(href="#").like 129
    li
      span.tw 
        a(href="#").usuario 
          span lgperalta 
        | compartió
      a(href="#").video 
        img(src="media/upload/video2.jpg", alt="")
      a(href="#").like 365
    li
      span.tw
        a(href="#").usuario 
          span Fulano 
        | compartió
       
        a(href="#")
          h3 Apoya a Tuxinfo por medio del Crowdfunding en el 2014
          p Desde noviembre del 2007, que decidí de forma unánime lanzar una revista completamente gratuita orientada al software libre y Linux. 
      a(href="#").like 365  
.top-usuarios
  .actions.action-select
    span.active Ayer
    ol
      li: a(href="#") Ayer
      li: a(href="#") Semana
      li: a(href="#") Mes
  h2 Top Usuarios
  ul
    li.destacado
      a(href="#gral").user
        img(src="media/upload/destacado.jpg", alt="")
        h3 Nombre de usuario 
        p 9861 puntos     
        a(href="#seguir").bt Seguir   
    li 
      a(href="#gral")
        span.num 02.
        .wrap  
          h3 Nombre de usuario
          p 9861 puntos
        a(href="#seguir").bt Seguir 
    li.siguiendo 
      span.num 03.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Siguiendo
    li 
      span.num 04.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir 
    li 
      span.num 05.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir   
    li 
      span.num 06.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir 
    li 
      span.num 07.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir 
    li 
      span.num 08.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir 
    li 
      span.num 09.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir 
    li 
      span.num 10.
      .wrap  
        h3 Nombre de usuario
        p 9861 puntos
      a(href="#").bt Seguir 
