nav.tabs
  .actions.action-select.v6-country
    span.active Argentina
    ol
      li: a(href="#") Hoy
      li: a(href="#") Ayer
      li: a(href="#") Semana
      li: a(href="#") Mes
      li: a(href="#") Todos  
  .actions.action-select.v6-category
    span.active Todas las categorías
    ol
      li: a(href="#") Hoy
      li: a(href="#") Ayer
      li: a(href="#") Semana
      li: a(href="#") Mes
      li: a(href="#") Todos
  ul
    li.active
      a(href="index.html") Lo más destacado
    li
      a(href="ascenso.html") En ascenso
    li
      a(href="reciente.html") Lo más reciente
    li.crear
      a(href="#") Crear Post!     