extends _layouts/default
block content
  .v6-container.container-home
    include _layouts/includes/sidebar
    .v6-content
      include _layouts/includes/subnav
      include _layouts/includes/content-right
      include _layouts/includes/content-left-ascenso

