extends _layouts/default
block content
  footer.v6-footer-interna
    .anuncios-taringa
      ul
        li 
          a(href="#") Anuncie en Taringa!
          |
        li 
          a(href="#") Ayuda
          |
        li 
          a(href="#") Reglas de la Comunidad
          |
        li 
          a(href="#") Desarrolladores
          |
        li 
          a(href="#") Denuncias
          |
        li 
          a(href="#") Reportar Abuso - DMCA
          |
        li 
          a(href="#") Términos y Condiciones
          |
        li 
          a(href="#") Privacidad de datos
          |
        li 
          a(href="#") Reportar bug        
      p.hosted 
        a(href="http://www.wiroos.com/")
          Alojado en
          strong Wiroos
