extends _layouts/default
block content
  .v6-container.container-fonts
    h3 Iconos
    p
      span.loading
      |  Cargando
    div.loading
    p
      span.ico-family B
      |  apuntes:           "B";
    p
      span.ico-family C
      |  animaciones:       "C";
    p
      span.ico-family D
      |  arte:              "D";
    p
      span.ico-family E
      |  autos:             "E";
    p
      span.ico-family F
      |  ciencia:           "F";
    p
      span.ico-family G
      |  deportes:          "G";
    p
      span.ico-family H
      |  ecologia:          "H";
    p
      span.ico-family I
      |  economia:          "I";
    p
      span.ico-family J
      |  femme:             "J";
    p
      span.ico-family K
      |  hazlo:             "K";
    p
      span.ico-family L
      |  humor:             "L";
    p
      span.ico-family M
      |  imagenes:          "M";
    p
      span.ico-family N
      |  info:              "N";
    p
      span.ico-family O
      |  juegosonline:      "O";
    p
      span.ico-family P
      |  liunx:             "P";
    p
      span.ico-family Q
      |  mac:               "Q";
    p
      span.ico-family R
      |  mascotas:          "R";
    p
      span.ico-family S
      |  noticias:          "S";
    p
      span.ico-family T
      |  offtopic:          "T";
    p
      span.ico-family U
      |  paranormal:        "U";
    p
      span.ico-family V
      |  patrocinado:       "V";
    p
      span.ico-family W
      |  recetas:           "W";
    p
      span.ico-family X
      |  reviews:           "X";
    p
      span.ico-family Y
      |  salud:             "Y";
    p
      span.ico-family Z
      |  solidaridad:       "Z";
    p
      span.ico-family a
      |  taringa:           "a";
    p
      span.ico-family b
      |  turismo:           "b";
    p
      span.ico-family c
      |  videos:            "c";
    p
      span.ico-family d
      |  juegos:            "d";
    p
      span.ico-family e
      |  links:             "e";
    p
      span.ico-family f
      |  musica:            "f";
    p
      span.ico-family g
      |  tv:                "g";
    p
      span.ico-family h
      |  celulares:         "h";
    p
      span.ico-family i
      |  ebooks:            "i";
    p
      span.ico-family j
      |  comic:             "j";
    p
      span.ico-family k
      |  anime:             "k";
    p
      span.ico-family l
      |  estadisticas:      "l";
    p
      span.ico-family m
      |  shouts:            "m";
    p
      span.ico-family n
      |  notificaciones:    "n";
    p
      span.ico-family o
      |  mensajes:          "o";
    p
      span.ico-family p
      |  favoritos:         "p";
    p
      span.ico-family q
      |  buscador:          "q";
    p
      span.ico-family r
      |  pulgararriba:      "r";
    p
      span.ico-family s
      |  pulgarabajo:       "s";
    p
      span.ico-family t
      |  tops:              "t";
    p
      span.ico-family u
      |  usuarios:          "u";
    p
      span.ico-family v
      |  tiempo:            "v";
    p
      span.ico-family w
      |  facebook:          "w";
    p
      span.ico-family x
      |  twitter:           "x";
    p
      span.ico-family y
      |  comments:          "y";
    p
      span.ico-family 6
      |  medalla:           "6";
    p
      span.ico-family 7
      |  tesigue:           "7";
    p
      span.ico-family 8
      |  puntos:            "8";
    p
      span.ico-family 9
      |  commentsrespond:   "9";
    p
      span.ico-family !
      |  escribioperfil:    "!";
    p
      span.ico-family $
      |  cambiorango:       "$";
    p
      span.ico-family "
      |  ico-subir:         '"';  